<div style="width: 90%; margin: auto; overflow: hidden;">
  <p id="notice"><%= notice %></p>

  <p>
    <%= image_tag(@product.image_url, width: "200", id: "img-zoom", data_zoom_image: @product.image_url) %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @product.color %>
  </p>

  <% cache @product do %>
  <h2><%= @product.name %></h2>
  <p><%= @product.description %></h2>
  <% end %>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <%= @product.average_rating %>
  </p>

  <%= form_with(url: '/payments/create') do |form| %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>

  <div style="margin-left: 20px;">

    <p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>

    <%= render 'new_comment' %>

    <%= render 'comments' %>

  </div>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
